<div class="site-wrapper rome">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Home</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Login</a>
            <a class="nav-link" href="#">Register</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Welcome Home</h1>
        <p class="lead">Descriptive text or message.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Footer message.</p>
        </div>
      </div>

    </div>
  </div>
</div>
