<div class="site-wrapper rome">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Home</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" routerLink="/authentication" routerLinkActive="active">Login</a>
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Welcome Home</h1>
        <p class="lead">An intuative app for household tasks.</p>
        <p class="lead">
          <a class="btn btn-lg btn-secondary" routerLink="/learn-more" routerLinkActive="active">Learn more</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Created by David Rampling, 2017.</p>
        </div>
      </div>

    </div>
  </div>
</div>
